.calc-botones {
    display:grid;
    grid-template-columns: repeat(6, 5rem);
    grid-template-rows: repeat(6, 5rem);
    row-gap: 10px;
    column-gap: 10px;
}
.igual {
    grid-column-end: 7;
    grid-row-end: 7;
    grid-row-start: 5;
    border-radius: 25px;
}
.funcion {
    border-radius: 25px;
    background-color: rgb(29, 56, 56);
    color: antiquewhite;
    font-size: x-large;
    border: none;
}
.numero {
    border-radius: 25px;
    background-color: darkgrey;
    border: none;

}