body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: rgb(26, 21, 21);
    font-family: 'Roboto', sans-serif;
}
.container {
    background-color: rgb(170, 154, 154);
    display: flex;
    height: auto;
    max-width: 65vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 15px;  
}
#calc-display {
    width: 100%;
    display: grid;
    margin: 3vh;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, minmax(4rem, auto));
    word-wrap: break-word;
    background-color: rgb(56, 51, 51);  
}
.calculo {
    text-align: right;
    height: 6vh;
    color: rgb(228, 213, 213);
    font-size: xx-large;
    line-height: 1;
    word-wrap: break-word;
    max-height: 100%;
    overflow: hidden;
    padding-right: 1rem;
   
}
.resultado {
    text-align: right;
    color: antiquewhite;
    height: 4vh;
    line-height: 2;
    font-size: x-large;
    padding-right: 1rem;
}
#calc-botones {
    display: grid;
    grid: repeat(6, 4rem) / repeat(6, 4rem);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.igual {
    grid-column-end: 7;
    grid-row-end: 7;
    grid-row-start: 5;
    border-radius: 25px;
    background-color: rgb(29, 56, 56);
    border: none;
    color: antiquewhite;
    font-size: x-large;
}
.funcion {
    border-radius: 25px;
    background-color: rgb(29, 56, 56);
    color: antiquewhite;
    font-size: x-large;
    border: none;
}
.numero {
    border-radius: 25px;
    background-color: rgb(119, 115, 115);
    border: none;
    font-size: x-large;
}
.funcion-AC {
    border-radius: 25px;
    background-color: red;
    border: none;
    font-size: x-large;
    color: antiquewhite;
}
.funcion-DEL {
    border-radius: 25px;
    background-color: red;
    border: none;
    font-size: x-large;
    color: antiquewhite;
}
.funcion:hover {
    background-color: rgb(87, 73, 73);
}
.funcion-AC:hover {
    background-color: rgb(143, 44, 44);
}
.funcion-DEL:hover {
    background-color: rgb(143, 44, 44);
}
.numero:hover {
    background-color: darkgray;
} 
.igual:hover {
    background-color: rgb(87, 73, 73);
}